*{
    padding:0;
    margin:0;
}
#nav-bar{
    position:sticky;
    top:0;
    z-index:10;
    
}

#navbar{
    background-color:#fff;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.18);
}

.navbar-brand img{
    height:40px;
    padding-left:30px;
}
#padd{
    padding:5px;
}

#padd li a{
padding-left:20px;
font-size:15px;
}

.navbar-nav li a{
    float:right;
    text-align:left
}

#nav-bar ul li a:hover{
    color:#111A83!important;
}

.navbar{
    background:#fff;
}

.navbar-toggle{
    border:none!important;
}
.nav-link{
    color:#555!important;
    font-weight:600;
    font-size:16px;
}

#slider{
    width:100%;
    position: relative;
}

.carousel-caption{
    top:50%;
    transform:translateY(-50%);
    bottom:initial!important;
}

/*--------------Slider------------*/
.typped{
    position: absolute;
    transform:translateY(-80%);
    width:100%;
    text-align:left;
    margin:0;
    padding:0;
    font-family:"PT Sans",sans-serif;
    color:#fff;
    font-size:54px;
    font-weight: 600;
    text-shadow: 0 2px 5px gba(0,0,0,0.5);
}
.typpe{
    position: absolute;
    transform:translateY(-10%);
    width:100%;
    text-align:left;
    margin:0;
    padding:0;
    font-family:"PT Sans",sans-serif;
    color:#fff;
    font-size:34px;
    font-weight: 600;
    text-shadow: 0 2px 5px gba(0,0,0,0.5);
}

/* ----------- About -----------*/

#about{
    padding-top:50px;
    padding-bottom:50px;
    color:#555;
}
#about .btn{
    margin-top:20px;
    margin-bottom:30px;
}

.about-content{
    padding-top:20px;
}
.skills-bar p{
margin-bottom:6px;
font-weight:600;
}

.progress-bar{
    border-radius:16px;
}

.progress{
    border-radius:16px !important;
    margin-bottom: 20px;
}

/*---------------Services --------------------*/
#services{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(img/services2.png);
    background-size:cover;
    background-position: center;
    color:#efefef !important;
    background-attachment: fixed;
    padding-top:50px;
    padding-bottom:50px;
}
#services h1{
    text-align:center;
    color:#efefef !important;
    padding-bottom:10px;
}
#services h1::after{
    content:'';
    background:#efefef;
    display:block;
    height:3px;
    width:170px;
    margin:20px auto 5px;
}
.services{
    margin-top:40px;
}
.icon{
    font-size:40px;
    margin:20px auto;
    padding:20px;
    height:80px;
    width:80px;
    border:1px solid #fff;
    border-radius: 50%;
}

#services p{
    font-size: 14px;
    margin-top:20px;
    color:#ccc;
}
.services .col-md-3:hover{
background:#007bff;
cursor:pointer;
transition:0.7s;
}

/*--------------------Team Member ------------------*/
#team{
    padding-top:50px;
    padding-bottom:50px;
    color:#555;
}
h1{
    text-align:center;
    color:#555 !important;
    padding-bottom:10px;
}

h1::after{
    content:'';
    background:#007bff;
    display:block;
    height:3px;
    width:170px;
    margin:20px auto 5px;
}
.profile-pic{
    margin-top:25px;
}
.profile-pic .img-box{
    opacity:1;
    display:block;
    position:relative;
}
#team div.teamcont{
    opacity:0;
  }
#team div.teamcont.is-showing{
    opacity:1;
  }
.profile-pic .img-box img:hover{
    filter:grayscale(0);
    cursor:pointer;
  }

/*---------------Team Parallex--------------*/
/*----------end----------*/

  .profile-pic h2{
      font-size:22px;
      font-weight:bold;
      margin-top:15px;
      color:#007bff !important;
  }
  .profile-pic h3{
    font-size:16px;
    font-weight:bold;
    margin-top:15px;
}
#team .fa{
    height:25px;
    width:25px;
    color:#007bff;
    background:#fff;
    padding:4px;
    border-radius:50%;
}
.img-box ul{
    padding:15px 0;
    position:absolute;
    z-index:2;
    bottom:0;
    left:50%;
    transform:translateX(-50%);
    opacity:0;
}
.img-box ul li{
    padding:5px;
    display:inline-block;
}
.img-box:hover ul{
    opacity:1;
}
.img-box ul, .img-box ul li{
    transition:0.5s;
}
p{
    font-size:15px;
}

/*------------ Advisors --------------*/

#testimonials{
    padding-top:50px;
    padding-bottom:50px;
}
#testimonials .row{
    margin-top:30px;
}

    #testimonials .post {
      padding: 20px 20px 0;
      background: white;
      position: relative; }
    #testimonials .post-1 {
      transform: translate(30px, 20px);
    position:relative; }
      #testimonials .post-2 {
      z-index: 2; }
      #testimonials .post-3 {
      transform: translate(-30px, 20px);
      position:relative;  }

.col-md-4{
    margin:40px auto;
}
.profile{
    padding:70px 10px 10px;
    background-color: #efefef;
    position: relative; 
}
.user{
    width:120px;
    height:120px;
    border-radius:50%;
}
.profile img{
    top:-60px;
    position:absolute;
    left:calc(50% - 60px);
    border:10px solid #fff;
}
.profile h3{
    font-size:20px;
    margin-top:15px;
    color:#007bff;
}
#testimonials span{
    font-size:12px;
    color:#333;
}
blockquote{
    font-size:16px;
    line-height:30px;
}
blockquote::before{
    content: ' \0022';
    font-size:50px;
    color:#007bff;
    position:relative;
    line-height:20px;
    bottom:-15px;
    right:5px;
}
blockquote::after{
    content: ' \0022';
    font-size:50px;
    color:#007bff;
    position:relative;
    line-height:20px;
    bottom:-15px;
    left:5px;
}
.profile:hover{
    box-shadow:0 0 15px 5px rgba(0,0,0,0.2);
    cursor:pointer;
    transition:0.5s;
}

/*----------Get in Touch-----------*/
#contact{
    background:#efefef;
    padding-top:40px;
    padding-bottom:40px;
    color:#777;
}
.contact-form{
    padding:15px;
}
.form-control{
    border-radius:0 !important;
    border: none !important;
}
::placeholder{
    color:#999 !important;
}
.follow{
    background:#fff;
    padding:10px;
    margin:15px;
}
.contact-info .fa{
    margin:10px;
    color:#007bff;
    font-weight:bold;
}

/*-----------Footer------------*/
#footer{
    background:#333;
    color:#fff;
    padding:12px;
}
